.duke-panel {
    -fx-background-color: #7f8a86;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-border-width: 10;
}

.user-panel {
    -fx-background-color: #ffffff;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-border-width: 10;
}

.dialogText {
    -fx-font-family: "Helvetica";
}