# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# JavaDocs
src/JavaDocs/*

# Compiled Files
*.class

# Package Files
*.jar

# Data Files
src/main/data/*
*.txt
**/DukeData