# IDEA files
/.idea/
#removed /out/ to push jar file into remote repo
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
