.dialog-box {
    -fx-background-radius: 10;
    -fx-background-insets: 8 8 8 8;
}

.user-dialog-box {
    -fx-background-color: #8e8e93;
}

.duke-message-dialog-box {
    -fx-background-color: #8e8e93;
}

.duke-warning-dialog-box {
    -fx-background-color: #ff9500;
}

.duke-error-dialog-box {
    -fx-background-color: #ff3b30;
}
