.hboxUser {
    background-color: #7395ae;
    -fx-background-color: #7395AE;
    translate: 10px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #7395AE;

    -fx-background-radius: 20px;
}

.hboxDuke {
    background-color: #557A95;
    border-radius: 10 10 10 10;
    -fx-background-color: #557A95;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #557A95;

    -fx-background-radius: 20px;
}