.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    /*Font taken from https://fonts.google.com/specimen/Delius+Unicase */
    /*Credits to Designer Natalia Raices*/
    -fx-font-family: "Delius Unicase"
}

#scrollBox {
    -fx-background-image: url("/images/background.jpg");
}

#logoBox {
    -fx-background-color: #2196F3;
}

#dialogText {
    /*Font taken from https://fonts.google.com/specimen/Delius+Unicase */
    /*Credits to Designer Natalia Raices*/
    -fx-fill: #616161;
    -fx-font-family: "Delius Unicase"
}

.alertPane {
    -fx-background-image: url("/images/alert.jpg");
    -fx-background-color: #BBDEFB;
}

.alertPane:header *.header-panel {
    -fx-background-image: url("/images/alert.jpg");
    -fx-background-color: #BBDEFB;
}

.alertPane:header .header-panel .label {
    /*Font taken from https://fonts.google.com/specimen/Delius+Unicase */
    /*Credits to Designer Natalia Raices*/
    -fx-font-family: "Delius Unicase";
    -fx-font-size: 16px;
    -fx-text-fill: #616161;
}