#mainWindow {
    -fx-padding: 10px 5px 10px 5px;
    -fx-background-color: #A8C8BF;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#scrollPane {
    -fx-border-width: 0;
    -fx-background-color: #A8C8BF;
}

#userInput {
    -fx-opacity: 0.9;
    -fx-background-radius: 2em;
    -fx-font-size: 16px;
}

#dialog {
    -fx-padding: 8px 10px 10px 10px;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-background-radius: 0.5em;
    -fx-background-color: #253D4C;
    -fx-text-fill: #FFFDF8;
}

#dialogContainer {
    -fx-padding: 5px 5px 15px 5px;
}

.dialogBox {
    -fx-padding: 5px;
}
