.content-section {
    -fx-background-color: #5fc9f8;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: grey;
    -fx-padding: 3 3 3 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 10, 0, 0, 0);
}
.display-pane {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}
