.dialogBox {
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-width: 100%;
    -fx-align-items: center;
    -fx-margin-bottom: 8px;
}

.dialogBox:last-child {
    -fx-margin-bottom: 0;
}

.dialogDp {
    -fx-width: 100%;
    -fx-margin: 0 4px;
    -fx-border-radius: 50%;
}
