#duke {
    -fx-background-color: #87ceeb;
}

#user {
    -fx-background-color: #F8DB06;
}

#duke, #user{
     -fx-border-color: black;
     -fx-border-width: 1px;
     -fx-border-radius: 10px;
     -fx-border-insets: 5px;
     -fx-background-insets: 5px;
     -fx-background-radius: 10px;
 }

