.dialogBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
}

.dialogBox:last-child {
    margin-bottom: 0;
}

.dialogDp {
    margin: 0 4px;
    border-radius: 50%;
}
