.background {
    -fx-background-color: #fdf6e3;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #859900;
    -fx-font-family: "Consolas", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #fdf6e3;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(#859900, -20%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.text-field {
    -fx-background-color: #eee8d5;
    -fx-border-color: #586e75;
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-text-fill: #268bd2;
    -fx-prompt-text-fill: #268bd2;
}

.text-box {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-text-fill: #657b83;
    -fx-border-right: 10px;
}

.pane-with-border {
     -fx-background-color: #eee8d5;
     -fx-border-color: #586e75;
     -fx-border-top-width: 1px;
}
